$tier: #dceae8;
$legendary: #4C139D;
$text: #333;
$complete: #5281d3;

header h1 {
  text-align: center;
  margin-top: 60px;
}
#content .row h2 {
  text-align: center;
}

.tree {
  width: 99%;
  ul {
    /* Some odd fix to prevent ul's being indented */
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
  }
  ul li {
    margin: 1px;
    list-style: none;
    text-align: center;
    &[data-name="crystals"], &[data-name="philosopher-s-stone"] {
      margin: 0;
      > span {
        border-color: invert($tier);
      }
    }
    &[data-name="crystals"] {
      margin-top: 5px;
      border-bottom: none;
    }
    &[data-name="philosopher-s-stone"] {
      border-top: none;
    }
    &[data-name="crystals"]::after {
      content: "OR"
    }
    span{
      color: $text;
      display: inline-block;
      padding: 3px;
      background-color: #efefef;
      border: 1px solid darken(#efefef, 15%);
      border-radius: 4px;
      &.complete {
        color: #fff;
        background-color: $complete;
        input {
          color: #fff;
          border-color: #fff;
        }
      }
      input {
        color: $text;
        border: 1px solid $text;
        border-radius: 2px;
        padding: 0;
        background-color: transparent;
      }
      .progress {
        width: 100%;
        height: 10px;
        margin: 3px 0 0 0;
        border: 1px solid $text;
        .progress-bar {
          font-size: 9px;
          line-height: 8px;
        }
      }
    }
    span.legendary {
      width: 100px;
      padding: 5px 10px;
      text-align: center;
      color: #fff;
      background-color: $legendary;
      position: absolute;
      left: 46%;
    }
  }

  > ul > li { // Top tier
    width: 100%;
    float: left;
    > ul > li { // Tier 1
      width: 24%;
      margin: 70px 5px 0;
      float: left;
      //border: 1px solid green;
      > span {
        background-color: $tier;
        border-color: darken($tier, 20%);
      }
      > ul > li { // Tier 2
        width: 24%;
        margin-top: 50px;
        float: left;
        //border: 1px solid blue;
        > span {
          background-color: darken($tier, 10%);
          border-color: darken($tier, 30%);
        }
        > ul > li { // Tier 3
          &:first-child {
            &::before {
              content: "↑";
              font-size: 25px;
            }
          }
          float: left;
          //border: 1px solid orange;
          > span {
            background-color: darken($tier, 20%);
            border-color: darken($tier, 40%);
          }
          > ul > li { // Tier 4
            &:first-child {
              &::before {
                content: "↑";
                font-size: 25px;
              }
            }
            float: left;
            //border: 1px solid deeppink;
            > span {
              background-color: darken($tier, 30%);
              border-color: darken($tier, 50%);
            }
          }
        }
      }
    }
  }
}

div.progress.global {
  height: 30px;
  margin: 10px 40px 20px;
  .progress-bar {
    line-height: 30px;
  }
}
